* {
  margin: 0;
  padding: 0;
}
/* orange:#bc6c25
    light orange: #dda15e
    cream: #fefae0;
     dark green: #283618;
     army greeN: #606c38
     */
body {
  background-color: #fefae0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  background-color: #283618;
  color: #dda15e;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 400px 1fr;
  color: #283618;
  align-items: center;
  padding-top: 100px;
  /* grid-auto-rows: 300px; */
}
.left-stage {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
}
.center-stage {
  grid-row: 2;
  grid-column: 2/3;
  border: 5px solid #bc6c25;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;

  /* grid-template-columns: 1fr; */
}
.title {
  grid-row: 1;
  padding: 20px;
}
.play {
  grid-row: 2;
}

.title,
.play,
.reset {
  background-color: #606c38;
  font-weight: bold;
  color: #bc6c25;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* grid-template-rows: 1/2; */
  /* border: 5px solid #dda15e; */
  font-size: 48px;
  text-align: center;
  padding-bottom: 30px;
}

a.button {
  padding: 15px;
  color: #fefae0;
  background-color: #283618;
  border: 5px solid #fefae0;
  text-decoration: none;
}
