* {
  margin: 0;
  padding: 0;
}
/* orange:#bc6c25
  light orange: #dda15e
  cream: #fefae0;
   dark green: #283618;
   army greeN: #606c38
   */
body {
  background-color: #fefae0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  background-color: #283618;
  color: #dda15e;
  height: 40px;
}
input[type="text" i] {
  font-weight: bold;
  font-size: 28px;
}

.game {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  color: #283618;
  align-items: center;
}
.left-stage {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
}
.center-stage {
  grid-row: 2;
  grid-column: 2/3;
  border: 5px solid #bc6c25;
  direction: row;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;
  margin-top: 50px;
}
.title {
  grid-row: 1;
  padding-top: 15px;
}
.play {
  grid-row: 4;
}

.title,
.play {
  background-color: #606c38;
  font-weight: bold;
  color: #bc6c25;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 48px;
  text-align: center;
  padding-bottom: 30px;
}

button {
  padding: 15px;
  color: #fefae0;
  background-color: #283618;
  border: 5px solid #fefae0;
  text-decoration: none;
}
.name {
  background-color: #606c38;
  padding: 15px;
  color: #fefae0;
  text-decoration: none;
}
.oneName,
.twoName {
  font-weight: bold;
  font-size: 28px;
}
.oneName {
  grid-row: 2;
}
button.play {
  padding: 10px;
  align-items: center;
  color: #fefae0;
  background-color: #283618;
  border: 5px solid #fefae0;
  text-decoration: none;
  display: flex;
}
